<div class="fallback-message" xmlns="http://www.w3.org/1999/html">
  <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
  <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>
<div id="impress" data-zoomFactor="<%= @zoom_factor %>">

  <div id="title-scrum" class="step" data-x="0" data-y="0" data-scale="4">
    <h1>Scrum</h1>
  </div>

  <div id="about-me-personal" class="step item" data-x="-980" data-y="-160" data-scale="0.08">
    <div class="row">
      <div class="span4"><%= image_tag "logo-ethz.png" %></div>
      <div class="span5 offset1"><%= image_tag "logo-unc-chapel-hill.png" %></div>
    </div>
    <div class="row">
      <div class="span7">
        <%= image_tag "bhutan.jpg" %>
        <p>sam.zurcher@gmail.com</p>
      </div>
      <div class="span3">
        <%= link_to image_tag("helvetas.jpg"), "http://www.helvetas.org" %>
        <%= link_to image_tag("logo-google.png", :class => "google"), "http://www.google.com" %>
        <%= link_to image_tag("logo-swisscom.png"), "http://www.swisscom.ch" %>
        <%= link_to image_tag("logo-horizobu.png"), "http://www.horizobu.com" %>
      </div>
    </div>
  </div>

  <div id="about-me-scrum-experience" class="step item" data-x="-880" data-y="-140" data-scale="0.08">
    <h3>My Scrum Experience</h3>
    <ul class="thumbnails">
      <li class="span3"><%= image_tag "scrum-experience-presentation-small000.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small001.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small002.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small003.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small004.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small006.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small007.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small008.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small009.jpeg" %></li>
    </ul>
  </div>

  <div id="about-me-warning" class="step item" data-x="-960" data-y="-100" data-scale="0.08">
    <h3>what works for me might not work for you...</h3>
  </div>

  <div id="four-questions" class="step item" data-x="-960" data-y="120" data-scale="0.08">
    <h3>Questions</h3>
    <ol>
      <li>What is important to you?</li>
      <li>Where do you feel the pain?</li>
      <li>What is your goal?</li>
      <li>What benefits do you hope Scrum will give you?</li>
    </ol>
  </div>

  <div id="my-goal" class="step item" data-x="-770" data-y="150" data-scale="0.08">
    <h3>My Goal</h3>
    <q>Develop good software efficiently and maximize the business value.</q>
  </div>

  <div id="no-silver-bullet" class="step item" data-x="-890" data-y="200" data-scale="0.08">
    <h3>Silver Bullet?</h3>
    <p><strong>No!</strong> But a good methodology if you can plan at least 2 weeks ahead.</p>
  </div>

  <div id="title-pragmatism" class="step sub-title" data-x="-2000" data-y="0" data-scale="2">
    <h2>Pragmatism</h2>
  </div>

  <div id="pragmatism-your-context-might-be-unique" class="step item" data-x="-2230" data-y="5" data-scale="0.05">
    <h3>Your Context!</h3>
    <p>
      <strong>You</strong> know your context best. Try out and see what works best.
      <strong>Don't</strong> do something because it is written in a book. Do it because it <strong>works</strong>.
    </p>
    <%= image_tag "teamfoto.jpg" %>
  </div>

  <div id="title-transparency" class="step sub-title" data-x="0" data-y="-500" data-scale="2">
    <h2>Transparency</h2>
  </div>

  <div id="transparency-pain" class="step item" data-x="670" data-y="-450" data-scale="0.08" data-rotate="-113">
    <h3>Do you want to see the pain?</h3>
    <p>
      Scrum is <strong>not</strong> for you if you are not interested
      in seeing and reducing the pain.
    </p>
  </div>

  <div id="transparency-problems-need-to-be-solved-actively" class="step item" data-x="210"
       data-y="-450" data-scale="0.08" data-rotate="90">
    <h3>Will problems just disappear?</h3>
    <p>
      <strong>No!</strong> What can <strong>you</strong> do to solve the problems?
    </p>
  </div>

  <div id="transparency-problems-first-retros" class="step item" data-x="-150"
       data-y="-390" data-scale="0.08" data-rotate="-90">
    <h3>So many problems, so little time?</h3>
    <p>
      It might seem like you have only problems. But don't worry, after a couple of months
      and years, you will have resolved most of them. Focus and resolve one by one.
    </p>
  </div>

  <div id="transparency-scope-and-launch-date" class="step item" data-x="-750"
       data-y="-480" data-scale="0.08" data-rotate="-90">
    <h3>Predefined Scope and Launch Date</h3>
    <p>
      Thanks to your estimations and capacity, you know whether the goal is realistic.
    </p>
    <p>
      In the <strong>rare</strong> case when it is not realistic, you can
      <strong>communicate</strong> and <strong>prioritize</strong> from the beginning.
    </p>
  </div>

  <div id="transparency-scope-and-launch-date-ignorance" class="step item" data-x="-700"
       data-y="-610" data-scale="0.08" data-rotate="0">
    <h3>But hey, we really need to deliver the whole scope at an impossible date!</h3>
    <p>
      Feel free to shoot <strong>yourself</strong> into the foot. Welcome
      <strong>technical debt</strong>, <strong>a lot of bugs</strong>, and an
      <strong>unmaintainable piece of software</strong>.
    </p>
  </div>

  <div id="title-stories" class="step sub-title" data-x="2000" data-y="-500" data-scale="2">
    <h2>Stories</h2>
  </div>

  <div id="stories-properties" class="step item" data-x="1910"
       data-y="-480" data-scale="0.08" data-rotate="90">
    <h3>Properties</h3>
    <ul>
      <li>Reasonable size</li>
      <li>End to end</li>
      <li>Motivational sentence</li>
      <li>Acceptance criterias</li>
      <li>Test cases</li>
    </ul>
  </div>

  <div id="stories-size" class="step item" class="step item" data-x="2050"
       data-y="-460" data-scale="0.08" data-rotate="90">
    <h3>Reasonable Size?</h3>
    <p>Between <strong>0.5</strong> and <strong>8</strong> story points.</p>
  </div>

  <div id="stories-acceptance-criterias" class="step item" data-x="2130"
       data-y="-480" data-scale="0.08" data-rotate="90">
    <h3>Acceptance Criterias</h3>
    <p>
      Easily <strong>understandable</strong> and <strong>verifiable</strong>
      definition of what needs to be done.
    </p>
  </div>

  <div id="stories-record-time-spent" class="step item" data-x="2080"
       data-y="-480" data-scale="0.08" data-rotate="90">
    <h3>Record Time Spent</h3>
    <p>
      Data for better estimations. Do we have systematic errors?
    </p>
  </div>

  <div id="stories-setup-with-scrum" class="step item" data-x="2210"
       data-y="-470" data-scale="0.04" data-rotate="180">
    <h3>Does it make sense to setup a project with Scrum?</h3>
    <p>
      Yes. Stories for the setup.
    </p>
  </div>

  <div id="stories-how-to-integrate-friends" class="step item" data-x="2100"
       data-y="-610" data-scale="0.06" data-rotate="0">
    <h3>How to Integrate Marketing?</h3>
    <p>
      Marketing is defining requirements for our software. They write stories.
      They can be part of the reviews. They can be there to answer questions.
    </p>
  </div>

  <div id="stories-how-to-integrate-concepters" class="step item" data-x="2140"
       data-y="-560" data-scale="0.05" data-rotate="90">
    <h3>How to Integrate Concepters?</h3>
    <p>
      Same as marketing.
    </p>
  </div>

  <div id="title-estimations" class="step sub-title" data-x="0" data-y="500" data-scale="2">
    <h2>Estimations</h2>
  </div>

  <div id="estimations-stories-presented" class="step item" data-x="-590"
       data-y="460" data-scale="0.08" data-rotate="0">
    <h3>Who prepares and presents a Story?</h3>
    <ul>
      <li>Business Engineer</li>
      <li>Concepter</li>
      <li>PO</li>
      <li>Developer</li>
    </ul>
  </div>

  <div id="estimations-discussion" class="step item" data-x="-590"
       data-y="520" data-scale="0.08" data-rotate="0">
    <h3>What to discuss?</h3>
    <p>
      <strong>Only</strong> what is relevant for the estimation itself. Leave out
      everything else.
    </p>
  </div>

  <div id="estimations-indicators" class="step item" data-x="-590"
       data-y="600" data-scale="0.08" data-rotate="0">
    <h3>How do we estimate?</h3>
    <p>
      <strong>Simple criterias.</strong>
    </p>
    <ul>
      <li>Simple/complicated service? </li>
      <li>How many input fields on the UI?</li>
      <li>How many open points?</li>
      <li>With which systems do we have to interact?</li>
    </ul>
  </div>

  <div id="estimations-open-issues" class="step item" data-x="-170"
       data-y="540" data-scale="0.08" data-rotate="90">
    <h3>There are open questions - what now?</h3>
    <p>
      <strong>Define</strong> and <strong>document assumptions</strong>. Estimate
      based on those assumptions. Modify estimations if the assumption do not hold.
    </p>
  </div>

  <div id="estimations-sp-vs-hours" class="step item" data-x="-90"
       data-y="540" data-scale="0.08" data-rotate="90">
    <h3>Estimation in Story Points or Hours?</h3>
    <p>
      <strong>Both</strong>. Stories in story points and tasks in hours during planning.
    </p>
  </div>

  <div id="title-planning" class="step sub-title" data-x="-2000" data-y="-500" data-scale="2">
    <h2>Planning</h2>
  </div>

  <div id="planning-tasks" class="step item" data-x="-2080"
       data-y="-470" data-scale="0.06" data-rotate="90">
    <h3>Creating Tasks</h3>
    <ul>
      <li>Kickoff</li>
      <li>PO review</li>
      <li>Test review</li>
      <li>Complex tasks: pair programming</li>
      <li>Who has special knowledge?</li>
    </ul>
  </div>

  <div id="planning-physical-or-electronic" class="step item" data-x="-1930"
       data-y="-470" data-scale="0.06" data-rotate="90">
    <h3>Tasks: Electronically or Physically?</h3>
    <p>We started out electronically and <strong>switched</strong> to physical cards.</p>
  </div>

  <div id="title-daily" class="step sub-title" data-x="-2000" data-y="500" data-scale="2">
    <h2>Daily</h2>
  </div>

  <div id="daily-what-is-important" class="step item" data-x="-2280"
       data-y="470" data-scale="0.06" data-rotate="90">
    <h3>What is important?</h3>
    <ul>
      <li>Only <strong>3 questions</strong> answered!</li>
      <li>No discussions!</li>
      <li>At max 15 minutes!</li>
      <li>Timeout!</li>
    </ul>
  </div>

  <div id="daily-be-strict" class="step item" data-x="-2220"
       data-y="470" data-scale="0.06" data-rotate="90">
    <h3>Be Strict</h3>
    <p>You are <strong>not</strong> here to make friends. Remind people about the rules.</p>
  </div>

  <div id="title-team" class="step sub-title" data-x="2000" data-y="0" data-scale="2">
    <h2>Team</h2>
  </div>

  <div id="team-self-organizing-and-responsible-team" class="step item" data-x="2020"
       data-y="-60" data-scale="0.06" data-rotate="0">
    <h3>Responsibility</h3>
    <p>
      Make sure that your team is self organizing and self responsible. Be very strict
      about this!
    </p>
  </div>

  <div id="team-pair-programming-interviews-motiviation" class="step item" data-x="1730"
       data-y="-100" data-scale="0.06" data-rotate="0">
    <h3>Who is on the team?</h3>
    <p>
      <strong>Difference</strong> between an average and an excellent software
      engineer is measured in factors.
    </p>
    <p>
      Make sure to have the <strong>right</strong> people on the team!
    </p>
  </div>

  <div id="team-pair-programming-interviews" class="step item" data-x="1800"
       data-y="-120" data-scale="0.06" data-rotate="0">
    <h3>Pair Programming Interviews!</h3>
    <p>
      <strong>Every</strong> candidate has to get through a 3 hour
      pair programming interview.
    </p>
    <%= image_tag "pairprogramming.jpg" %>
  </div>

  <div id="team-pair-programming-interview-what-do-we-do" class="step item" data-x="1730"
       data-y="-40" data-scale="0.05" data-rotate="0">
    <h3>What Happens during a Pair Programming Interview?</h3>
    <ol>
      <li>Big picture view of one area of our code.</li>
      <li>Task that requires both big picture view and algorithmic skills.</li>
      <li>Candidate navigates and writes code.</li>
      <li>Questions about implementation.</li>
    </ol>
    <p>
      <strong>Goal:</strong> As much production ready code as possible.
    </p>
  </div>

  <div id="team-pair-programming-interview-why-do-we-do-what-we-do" class="step item" data-x="1810"
       data-y="-40" data-scale="0.05" data-rotate="0">
    <h3>Why do we do what we do?</h3>
    <ul>
      <li>How easily does he understand the big picture?</li>
      <li>How fast does he solve a simple algorithmic problem in Java?</li>
      <li>TDD or tests?</li>
      <li>How does he approach the problem?</li>
      <li>How does he react when he gets stuck?</li>
      <li>Any philosophical discussions?</li>
      <li>How fast is he getting things done?</li>
      <li>...?</li>
    </ul>
  </div>

  <div id="team-code-reviews" class="step item" data-x="2100"
       data-y="60" data-scale="0.05" data-rotate="90">
    <h3>Code Reviews</h3>
    <p><strong>Before</strong> we check in code, we ask a friend to look at it with us.</p>
  </div>

  <div id="team-test-reviews" class="step item" data-x="2150"
       data-y="60" data-scale="0.05" data-rotate="90">
    <h3>Test Reviews</h3>
    <p><strong>Before</strong> we demonstrate the functionality to the PO, we go through it with a friend.</p>
  </div>

  <div id="team-feedbacks" class="step item" data-x="2245"
       data-y="60" data-scale="0.05" data-rotate="90">
    <h3>Team Feedbacks</h3>
    <p>
      <strong>Periodically</strong>, we have team feedback sessions.
      Three minutes to give feedback to every single person in the team.
      Be honest! Provide constructive feedback.
    </p>
  </div>

  <div id="team-rules" class="step item" data-x="2300"
       data-y="60" data-scale="0.05" data-rotate="90">
    <h3>Team Rules</h3>
    <p>
      <strong>Rules</strong> that are defined <strong>by the team</strong>.
    </p>
  </div>

  <div id="team-rules-definition-of-done" class="step item" data-x="2300"
       data-y="0" data-scale="0.05" data-rotate="90">
    <h3>Definition of Done</h3>
    <p>
      Define it! And live up to it.
    </p>
  </div>

  <div id="team-rules-dont-be-friends-with-everybody" class="step item" data-x="2245"
       data-y="-65" data-scale="0.05" data-rotate="0">
    <h3>Awkward! Uncomfortable!</h3>
    <p>
      Don't try to be friends with everybody! A team needs people that try to resolve
      the uncomfortable stuff! We call it "Wadenbeisser".
    </p>
  </div>

  <div id="team-meetings" class="step item" data-x="2145"
       data-y="-65" data-scale="0.05" data-rotate="0">
    <h3>Meetings are Expensive!</h3>
    <p>
      Keep them short with the minimal number of people.
      Have a clear agenda and a protocol sent to all the participants.
      Be punctual!
    </p>
  </div>

  <div id="team-two-people" class="step item" data-x="2100"
       data-y="-55" data-scale="0.05" data-rotate="-90">
    <h3>Together</h3>
    <p>
      Have at least two people per story. Knowledge is automatically shared.
    </p>
  </div>

  <div id="team-scout-rule" class="step item" data-x="2100"
       data-y="0" data-scale="0.05" data-rotate="-90">
    <h3>Scout Law</h3>
    <p>
      Continuously improve your environment.
    </p>
  </div>


  <div id="title-retrospective" class="step sub-title" data-x="2000" data-y="500" data-scale="2">
    <h2>Retrospective</h2>
  </div>

  <div id="retrospective-everybody-has-input" class="step item" data-x="1760"
       data-y="500" data-scale="0.05" data-rotate="0">
    <h3>Everybody!</h3>
    <p>
      Everybody has valuable input. Use techniques that ensure this!
    </p>
  </div>

  <div id="retrospective-focus-on-few-points" class="step item" data-x="2600"
       data-y="470" data-scale="0.05" data-rotate="0">
    <h3>Focus!</h3>
    <p>
      Focus on a very limited number of points.
    </p>
  </div>

  <div id="retrospective-outcomes" class="step item" data-x="2730"
       data-y="490" data-scale="0.05" data-rotate="0">
    <h3>Outcomes</h3>
    <p>
      Make sure you have <strong>concrete</strong> and <strong>verifiable outcomes</strong>.
      Make sure <strong>somebody</strong> is <strong>responsible</strong>.
    </p>
  </div>

  <div id="thank-you" class="step thank-you" data-x="0" data-y="1200" data-scale="4">
    <h2>Thank you!</h2>
    <p><%= link_to "sam.zurcher@gmail.com", "mailto:sam.zurcher@gmail.com" %></p>
    <p><%= link_to "http://www.linkedin.com/in/samzurcher", "http://www.linkedin.com/in/samzurcher" %></p>
  </div>
</div>
<div class="hint">
  <p>Use a spacebar or arrow keys to navigate</p>
</div>

<%= javascript_include_tag "impress" %>
