<div class="fallback-message">
  <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
  <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>
<div id="impress">

  <div id="title-scrum" class="step" data-x="0" data-y="0" data-scale="4">
    <h1>Scrum</h1>
  </div>

  <div id="title-about-me-personal" class="step item" data-x="-980" data-y="-160" data-scale="0.08">
    <div class="row">
      <div class="span4"><%= image_tag "logo-ethz.png" %></div>
      <div class="span5 offset1"><%= image_tag "logo-unc-chapel-hill.png" %></div>
    </div>
    <div class="row">
      <div class="span7"><%= image_tag "bhutan.jpg" %></div>
      <div class="span3">
        <%= image_tag "helvetas.jpg" %>
        <%= image_tag "logo-google.png", :class => "google" %>
        <%= image_tag "logo-swisscom.png" %>
      </div>
    </div>
  </div>

  <div id="title-about-me-scrum-experience" class="step item" data-x="-880" data-y="-140" data-scale="0.08">
    <h3>My Scrum Experience</h3>
    <ul class="thumbnails">
      <li class="span3"><%= image_tag "scrum-experience-presentation-small000.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small001.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small002.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small003.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small004.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small006.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small007.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small008.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small009.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small010.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small011.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small013.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small014.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small015.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small016.jpeg" %></li>
    </ul>
  </div>

  <div id="title-about-me-warning" class="step item" data-x="-960" data-y="-100" data-scale="0.08">
    <h3>what works for me might not work for you...</h3>
  </div>

  <div id="title-questions" class="step item" data-x="-960" data-y="120" data-scale="0.08">
    <h3>Questions</h3>
    <ol>
      <li>What is important to you?</li>
      <li>Where do you feel the pain?</li>
      <li>What is your goal?</li>
      <li>What benefits do you hope Scrum will give you?</li>
    </ol>
  </div>

  <div id="title-team-rules" class="step sub-title" data-x="-2000" data-y="-500" data-scale="2">
    <h2>Team Rules</h2>
  </div>

  <div id="title-transparency" class="step sub-title" data-x="0" data-y="-500" data-scale="2">
    <h2>Transparency</h2>
  </div>

  <div id="title-stories" class="step sub-title" data-x="2000" data-y="-500" data-scale="2">
    <h2>Stories</h2>
  </div>

  <div id="title-pragmatism" class="step sub-title" data-x="-2000" data-y="0" data-scale="2">
    <h2>Pragmatism</h2>
  </div>

  <div id="title-team" class="step sub-title" data-x="2000" data-y="0" data-scale="2">
    <h2>Team</h2>
  </div>

  <div id="title-daily" class="step sub-title" data-x="-2000" data-y="500" data-scale="2">
    <h2>Daily</h2>
  </div>

  <div id="title-estimations" class="step sub-title" data-x="0" data-y="500" data-scale="2">
    <h2>Estimations</h2>
  </div>

  <div id="title-sprint" class="step sub-title" data-x="2000" data-y="500" data-scale="2">
    <h2>Sprint</h2>
  </div>

  <!--
  <div id="title-about-me" class="step sub-title" data-x="-2000" data-y="0" data-scale="2">
    <h2>About me</h2>
  </div>



  <div id="title-questions" class="step sub-title" data-x="0" data-y="-500" data-scale="2">
    <h2>4 Questions</h2>
  </div>

  <div id="title-transparency" class="step sub-title" data-x="2000" data-y="0" data-scale="2">
    <h2>Transparency</h2>
  </div>

  <div id="title-our-learnings" class="step sub-title" data-x="0" data-y="800" data-scale="2">
    <h2>Our Learnings</h2>
  </div>

  <div id="title-our-learnings-stories" class="step sub-sub-title" data-x="-1000" data-y="600" data-scale="1">
    <h3>Stories</h3>
  </div>

  <div id="title-our-learnings-team" class="step sub-sub-title" data-x="1000" data-y="1000" data-scale="1">
    <h3>Team</h3>
  </div>

  <div id="title-our-learnings-estimations" class="step sub-sub-title" data-x="-1000" data-y="1000" data-scale="1">
    <h3>Estimations</h3>
  </div>

  <div id="title-our-learnings-sprint" class="step sub-sub-title" data-x="1000" data-y="1000" data-scale="1">
    <h3>Sprint</h3>
  </div>
  -->

</div>
<div class="hint">
  <p>Use a spacebar or arrow keys to navigate</p>
</div>

<%= javascript_include_tag "impress" %>
