<div class="fallback-message" xmlns="http://www.w3.org/1999/html">
  <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
  <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>
<div id="impress" data-zoomFactor="<%= @zoom_factor %>">

  <div id="title-scrum" class="step" data-x="0" data-y="0" data-scale="4">
    <h1>Scrum</h1>
  </div>

  <div id="about-me-personal" class="step item" data-x="-980" data-y="-160" data-scale="0.08">
    <div class="row">
      <div class="span4"><%= image_tag "logo-ethz.png" %></div>
      <div class="span5 offset1"><%= image_tag "logo-unc-chapel-hill.png" %></div>
    </div>
    <div class="row">
      <div class="span7">
        <%= image_tag "bhutan.jpg" %>
        <p>sam.zurcher@gmail.com</p>
      </div>
      <div class="span3">
        <%= image_tag "helvetas.jpg" %>
        <%= image_tag "logo-google.png", :class => "google" %>
        <%= image_tag "logo-swisscom.png" %>
        <%= image_tag "logo-horizobu.png" %>
      </div>
    </div>
  </div>

  <div id="about-me-scrum-experience" class="step item" data-x="-880" data-y="-140" data-scale="0.08">
    <h3>My Scrum Experience</h3>
    <ul class="thumbnails">
      <li class="span3"><%= image_tag "scrum-experience-presentation-small000.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small001.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small002.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small003.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small004.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small006.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small007.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small008.jpeg" %></li>
      <li class="span3"><%= image_tag "scrum-experience-presentation-small009.jpeg" %></li>
    </ul>
  </div>

  <div id="about-me-warning" class="step item" data-x="-960" data-y="-100" data-scale="0.08">
    <h3>what works for me might not work for you...</h3>
  </div>

  <div id="four-questions" class="step item" data-x="-960" data-y="120" data-scale="0.08">
    <h3>Questions</h3>
    <ol>
      <li>What is important to you?</li>
      <li>Where do you feel the pain?</li>
      <li>What is your goal?</li>
      <li>What benefits do you hope Scrum will give you?</li>
    </ol>
  </div>

  <div id="my-goal" class="step item" data-x="-770" data-y="150" data-scale="0.08">
    <h3>My Goal</h3>
    <q>Develop good software efficiently and maximize the business value.</q>
  </div>

  <div id="no-silver-bullet" class="step item" data-x="-890" data-y="200" data-scale="0.08">
    <h3>Silver Bullet?</h3>
    <p><strong>No!</strong> But a good methodology if you can plan at least 2 weeks ahead.</p>
  </div>

  <div id="title-transparency" class="step sub-title" data-x="0" data-y="-500" data-scale="2">
    <h2>Transparency</h2>
  </div>

  <div id="transparency-pain" class="step item" data-x="670" data-y="-450" data-scale="0.08" data-rotate="-113">
    <h3>Do you want to see the pain?</h3>
    <p>
      Scrum is <strong>not</strong> for you if you are not interested
      in seeing and reducing the pain.
    </p>
  </div>

  <div id="transparency-problems-need-to-be-solved-actively" class="step item" data-x="210"
       data-y="-450" data-scale="0.08" data-rotate="90">
    <h3>Will problems just disappear?</h3>
    <p>
      <strong>No!</strong> What can <strong>you</strong> do to solve the problems?
    </p>
  </div>

  <div id="transparency-problems-first-retros" class="step item" data-x="-150"
       data-y="-390" data-scale="0.08" data-rotate="-90">
    <h3>So many problems, so little time?</h3>
    <p>
      It might seem like you have only problems. But don't worry, after a couple of months
      and years, you will have resolved most of them. Focus and resolve one by one.
    </p>
  </div>

  <div id="transparency-scope-and-launch-date" class="step item" data-x="-750"
       data-y="-480" data-scale="0.08" data-rotate="-90">
    <h3>Predefined Scope and Launch Date</h3>
    <p>
      Thanks to your estimations and capacity, you know whether the goal is realistic.
    </p>
    <p>
      In the <strong>rare</strong> case when it is not realistic, you can
      <strong>communicate</strong> and <strong>prioritize</strong> from the beginning.
    </p>
  </div>

  <div id="transparency-scope-and-launch-date-ignorance" class="step item" data-x="-700"
       data-y="-610" data-scale="0.08" data-rotate="0">
    <h3>But hey, we really need to deliver the whole scope at an impossible date!</h3>
    <p>
      Feel free to shoot <strong>yourself</strong> into the foot. Welcome
      <strong>technical debt</strong>, <strong>a lot of bugs</strong>, and an
      <strong>unmaintainable piece of software</strong>.
    </p>
  </div>

  <div id="title-stories" class="step sub-title" data-x="2000" data-y="-500" data-scale="2">
    <h2>Stories</h2>
  </div>

  <div id="stories-properties" class="step item" data-x="1910"
       data-y="-480" data-scale="0.08" data-rotate="90">
    <h3>Properties</h3>
    <ul>
      <li>Reasonable size</li>
      <li>End to end</li>
      <li>Motivational sentence</li>
      <li>Acceptance criterias</li>
      <li>Test cases</li>
    </ul>
  </div>

  <div id="stories-size" class="step item" class="step item" data-x="2050"
       data-y="-460" data-scale="0.08" data-rotate="90">
    <h3>Reasonable Size?</h3>
    <p>Between <strong>0.5</strong> and <strong>8</strong> story points.</p>
  </div>

  <div id="stories-acceptance-criterias" class="step item" data-x="2130"
       data-y="-480" data-scale="0.08" data-rotate="90">
    <h3>Acceptance Criterias</h3>
    <p>
      Easily <strong>understandable</strong> and <strong>verifiable</strong>
      definition of what needs to be done.
    </p>
  </div>

  <div id="stories-setup-with-scrum" class="step item" data-x="2210"
       data-y="-470" data-scale="0.04" data-rotate="180">
    <h3>Does it make sense to setup a project with Scrum?</h3>
    <p>
      Yes. Stories for the setup.
    </p>
  </div>

  <div id="stories-how-to-integrate-friends" class="step item" data-x="2100"
       data-y="-605" data-scale="0.06" data-rotate="0">
    <h3>How to Integrate Marketing?</h3>
    <p>
      Marketing is defining requirements for our software. They write stories.
    </p>
  </div>

  <div id="stories-how-to-integrate-concepters" class="step item" data-x="2140"
       data-y="-560" data-scale="0.05" data-rotate="90">
    <h3>How to Integrate Concepters?</h3>
    <p>
      Again, they define requirements and write stories.
    </p>
  </div>

  <!-- FIXME add answers in question 3 and 8 -->

  <div id="title-estimations" class="step sub-title" data-x="0" data-y="500" data-scale="2">
    <h2>Estimations</h2>
  </div>

  <div id="estimations-stories-presented" class="step item" data-x="-590"
       data-y="460" data-scale="0.08" data-rotate="0">
    <h3>Who prepares and presents a Story?</h3>
    <ul>
      <li>Business Engineer</li>
      <li>Concepter</li>
      <li>PO</li>
      <li>Developer</li>
    </ul>
  </div>

  <div id="estimations-discussion" class="step item" data-x="-590"
       data-y="520" data-scale="0.08" data-rotate="0">
    <h3>What to discuss?</h3>
    <p>
      <strong>Only</strong> what is relevant for the estimation itself. Leave out
      everything else.
    </p>
  </div>

  <div id="estimations-indicators" class="step item" data-x="-590"
       data-y="600" data-scale="0.08" data-rotate="0">
    <h3>How do we estimate?</h3>
    <p>
      <strong>Simple criterias.</strong>
    </p>
    <ul>
      <li>Simple/complicated service? </li>
      <li>How many input fields on the UI?</li>
      <li>How many open points?</li>
      <li>With which systems do we have to interact?</li>
    </ul>
  </div>

  <div id="estimations-open-issues" class="step item" data-x="-170"
       data-y="540" data-scale="0.08" data-rotate="90">
    <h3>There are open questions - what now?</h3>
    <p>
      <strong>Define</strong> and <strong>document assumptions</strong>. Estimate
      based on those assumptions. Modify estimations if the assumption do not hold.
    </p>
  </div>

  <div id="estimations-sp-vs-hours" class="step item" data-x="-90"
       data-y="540" data-scale="0.08" data-rotate="90">
    <h3>Estimation in Story Points or Hours?</h3>
    <p>
      <strong>Both</strong>. Stories in story points and tasks in hours during planning.
    </p>
  </div>


  <div id="title-team-rules" class="step sub-title" data-x="-2000" data-y="-500" data-scale="2">
    <h2>Team Rules</h2>
  </div>


  <div id="title-pragmatism" class="step sub-title" data-x="-2000" data-y="0" data-scale="2">
    <h2>Pragmatism</h2>
  </div>

  <div id="title-team" class="step sub-title" data-x="2000" data-y="0" data-scale="2">
    <h2>Team</h2>
  </div>

  <div id="title-daily" class="step sub-title" data-x="-2000" data-y="500" data-scale="2">
    <h2>Daily</h2>
  </div>


  <div id="title-sprint" class="step sub-title" data-x="2000" data-y="500" data-scale="2">
    <h2>Sprint</h2>
  </div>

  <!--
  <div id="title-about-me" class="step sub-title" data-x="-2000" data-y="0" data-scale="2">
    <h2>About me</h2>
  </div>



  <div id="title-questions" class="step sub-title" data-x="0" data-y="-500" data-scale="2">
    <h2>4 Questions</h2>
  </div>

  <div id="title-transparency" class="step sub-title" data-x="2000" data-y="0" data-scale="2">
    <h2>Transparency</h2>
  </div>

  <div id="title-our-learnings" class="step sub-title" data-x="0" data-y="800" data-scale="2">
    <h2>Our Learnings</h2>
  </div>

  <div id="title-our-learnings-stories" class="step sub-sub-title" data-x="-1000" data-y="600" data-scale="1">
    <h3>Stories</h3>
  </div>

  <div id="title-our-learnings-team" class="step sub-sub-title" data-x="1000" data-y="1000" data-scale="1">
    <h3>Team</h3>
  </div>

  <div id="title-our-learnings-estimations" class="step sub-sub-title" data-x="-1000" data-y="1000" data-scale="1">
    <h3>Estimations</h3>
  </div>

  <div id="title-our-learnings-sprint" class="step sub-sub-title" data-x="1000" data-y="1000" data-scale="1">
    <h3>Sprint</h3>
  </div>
  -->

</div>
<div class="hint">
  <p>Use a spacebar or arrow keys to navigate</p>
</div>

<%= javascript_include_tag "impress" %>
